{% extends 'base.html.twig' %}

{% block title %}
	Welcome !
{% endblock %}

{% block body %}

	<h2 class="pt-3">
		Bienvenue sur notre blog consacré au monde du jeux vidéo !</h2>

	<div class="presentation container d-flex">
    <img class ="m-3" src="{{ asset('assets/images/presentation.jpg') }}" alt="Image gameur">
		<p class ="m-3">
			Bienvenue sur BloGaming, le lieu ultime pour les passionnés de jeux vidéo !
            Plongez dans un univers où les pixels rencontrent l'aventure, où les manettes deviennent des extensions de nos mains, et où chaque clic ouvre la porte à de nouvelles possibilités virtuelles.
            Explorez avec nous les dernières sorties, les analyses pointues, les astuces incontournables, et les débats enflammés qui animent la communauté gaming. Que vous soyez un vétéran chevronné ou un novice curieux, vous trouverez ici votre dose quotidienne de divertissement interactif.
            Préparez-vous à vivre des expériences palpitantes, à découvrir des mondes extraordinaires, et à partager votre passion avec une communauté aussi vibrante que variée. Bienvenue dans l'univers infini du jeu vidéo !
		</p>
	</div>


{% endblock %}
